<a href="https://colab.research.google.com/github/TejSuklikar/GPT-3-Research-Project/blob/main/TQA_Run_Experiments_on_Fine_tuned_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Load the Test
JSON File**

In [ ]:
#Library
import json
import pandas as pd

#x = pd.read_json("/content/tqa_v1_val.json")
x = pd.read_json("/content/tqa_v2_test.json")

Create a simpler Content Table with just Topic content

In [ ]:
from pandas.core.apply import Apply
topics = x['topics']
#questions = x['questions']
adjunctTopics = x['adjunctTopics']

length = x.index.stop
i=0
contentqaTable = []
while i < length:
  for key in topics[i].keys():
    content = topics[i][key]['content']['text']
    contentqaTable.append([x['globalID'][i], content])
  i+=1

Convert the content table to a Data Frame

In [ ]:
ct = pd.DataFrame(contentqaTable,columns=['id','context',])

Since there are multiple rows of content for each Lesson ID, get the unique Lesson IDs. This will be useful in constructing Prompts per lesson

In [ ]:
lessonIds = ct.id.unique()

Create a consolidated Lesson Table with one row per Lesson, and all the associated content

In [ ]:
consolidatedLessonTable = []
for l in lessonIds:
  lessonContext = ""
  lessonContents = ct[ct.id == l]
  for index, row in lessonContents.iterrows():
    lessonContext += row['context'] + "\n"
  consolidatedLessonTable.append([l,lessonContext])
clt = pd.DataFrame(consolidatedLessonTable,columns=['id','content'])

Create a Question Answer Table with the Questions, Answer Choices, and Correct Answer per row. Additionally the associated Lesson ID is also stored for looking up and joining to the Lesson Table content.

In [ ]:
questions = x['questions']
length = x.index.stop
i=0

questionAnswerTable = []
answerTable =[]
while i < length:
  for key in questions[i]['nonDiagramQuestions'].keys():
    lessonID = x['globalID'][i]
    lessonName = x['lessonName'][i]
    questionID = key
    questionText = questions[i]['nonDiagramQuestions'][key]['beingAsked']['processedText']
    questionType = questions[i]['nonDiagramQuestions'][key]['questionType']
    questionSubType = questions[i]['nonDiagramQuestions'][key]['questionSubType']
    correctAnswerChoice = questions[i]['nonDiagramQuestions'][key]['correctAnswer']['processedText']
    answerChoices = questions[i]['nonDiagramQuestions'][key]['answerChoices']
    answerChoicesPrompt = ""
    correctAnswerDetail = ""
    #answer_start = content.find(correctAnswerChoice)
    for key2 in questions[i]['nonDiagramQuestions'][key]['answerChoices'].keys():
      answerChoicesPrompt = answerChoicesPrompt + questions[i]['nonDiagramQuestions'][key]['answerChoices'][key2]['rawText'] + "; "

    answerChoicesPrompt = answerChoicesPrompt[:-2]  
    questionAnswerTable.append([lessonID,questionText,correctAnswerChoice, answerChoicesPrompt])
  i+=1

In [ ]:
qat = pd.DataFrame(questionAnswerTable,columns=['id','question', 'correct answer', 'answer choices'])

In [ ]:
fewShotPromptInstructions = "Use the lesson text below to answer the following questions by picking one of the choices provided. Only include the letter of the answer choice listed. For example, 3.c.\n\n"
zeroShotPromptInstructions = "Answer the following questions by picking one of the choices provided. Only include the letter of the answer choice listed.\n\n"

questionValidationTable = []

for i,l in clt.iterrows():
  lessonQAT = qat[qat.id == l['id']]
  qnum = 1
  for index,row in lessonQAT.iterrows():
    questionValidationTable.append([l['id'],qnum,str(qnum) + ". " + row['question']+ "\n" + row['answer choices'] + "\n\n",row['correct answer']])
    qnum += 1

In [ ]:
qvt = pd.DataFrame(questionValidationTable,columns=['Lesson ID','Question Number','Prompt','Correct Answer'])

In [ ]:
len(qvt)

2512

In [ ]:
qvt.head(5)

,Lesson ID,Question Number,Prompt,Correct Answer
0,L_0001,1,1. Steps of the scientific method include all ...,d
1,L_0001,2,2. Why do scientists call the Big Bang a theor...,c
2,L_0001,3,3. The data collected in an experiment should ...,d
3,L_0001,4,4. Which of the following is not a scientific ...,b
4,L_0001,5,5. If the results of an experiment disprove a ...,d

In [ ]:
!pip install --upgrade openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.23.0.tar.gz (43 kB)
     |████████████████████████████████| 43 kB 1.7 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting pandas-stubs>=1.1.0.11
  Downloading pandas_stubs-1.2.0.62-py3-none-any.whl (163 kB)
     |████████████████████████████████| 163 kB 27.7 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from openai) (1.21.6)
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.7/dist-packages (from openai) (3.0.10)
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.7/dist-packages (from openai) (1.3.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from openai) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from openai) (4.64.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from openai) (4.1.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (3.0.4)
Building wheels for collected packages: openai
  Building wheel for openai (PEP 517) ... done
  Created wheel for openai: filename=openai-0.23.0-py3-none-any.whl size=54478 sha256=0a71c2955b3427f1cf2b1fdf2e44c0c32b0c84b74879bcea43ad3933ef33f1d7
  Stored in directory: /root/.cache/pip/wheels/70/d5/31/f9f67660319d89e4f54501d27b1e90f88a3309c42ea4fd734c
Successfully built openai
Installing collected packages: pandas-stubs, openai
Successfully installed openai-0.23.0 pandas-stubs-1.2.0.62

In [ ]:
#OPENAI_API_KEY="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"
OPENAI_API_KEY="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"

In [ ]:
!openai -k "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" api fine_tunes.list

In [ ]:
tunedLessonsModel = "davinci:ft-personal-2022-09-07-06-51-12"
tunedQuestionsModel = "davinci:ft-personal-2022-09-06-06-00-51"

**Run Experiment with model fine tuned on Questions Prompt Data**

In [ ]:
def response_to_table (lId, r, answer_table):
  answer = r.strip().split(".")
  answer_table.append([lId,answer[0].strip(),answer[1].strip()[0]])
  return answer_table

In [ ]:
def lesson_answer (lId,p,answerTable):
  import os
  import openai

  openai.api_key = OPENAI_API_KEY

  response = openai.Completion.create(
    model=tunedQuestionsModel,
    prompt=p,
    temperature=0,
    max_tokens=4,
    top_p=1,
    frequency_penalty=0,
    presence_penalty=0,
    stop=["===="]
  )
  answerTable = response_to_table (lId, response['choices'][0]['text'],answerTable)
  
  return answerTable

Test out on one prompt

In [ ]:
import os
import openai

openai.api_key = OPENAI_API_KEY

response = openai.Completion.create(
    model=tunedQuestionsModel,
    prompt=qvt['Prompt'][3],
    temperature=0.5,
    max_tokens=4,
    top_p=1,
    frequency_penalty=0,
    presence_penalty=0,
    stop=["===="]
  )

In [ ]:
print(response)

In [ ]:
row=response['choices'][0]['text'].strip().split(".")
print (row[1].strip())

b

In [ ]:
resultsTable = []

In [ ]:
subsetTable = qvt.iloc[2000:]
for row in subsetTable.itertuples():
  resultsTable = lesson_answer(row[1],str(row[3]), resultsTable)

In [ ]:
print(resultsTable[2511])

['L_1075', '2', 'd']

In [ ]:
print(resultsTable[500],qvt.iloc[500])

['L_0083', '20', 'b'] Lesson ID                                                     L_0083
Question Number                                                   19
Prompt             19. Volcanoes form at\na. hot spots.; b. diver...
Correct Answer                                                     d
Name: 500, dtype: object

In [ ]:
zsFTat = pd.DataFrame(resultsTable,columns=['Lesson ID','Question Number','Returned Answer'])

In [ ]:
zsFTat.head(100)

   Lesson ID Question Number Returned Answer
0     L_0001               1               d
1     L_0001               2               c
2     L_0001               3               d
3     L_0001               4               b
4     L_0001               5               d
..       ...             ...             ...
95    L_0024               5               c
96    L_0024               6               a
97    L_0024               7               a
98    L_0024               8               a
99    L_0024               9               a

[100 rows x 3 columns]

In [ ]:
zsFTat.to_csv("zsFTAT.csv")

In [ ]:
convert_dict = {'Question Number': int}
zsFTat = zsFTat.astype(convert_dict)

In [ ]:
compt = qvt.merge (zsFTat,how='inner',left_on=['Lesson ID','Question Number'], right_on=['Lesson ID','Question Number'])

In [ ]:
compt['Is Correct'] = zsFTCompt.apply(lambda x: x['Correct Answer'] == x['Returned Answer'], axis=1)

In [ ]:
len(compt[compt['Is Correct']==True])/len(compt)

0.6774960380348652

In [ ]:
compt.nunique()

Lesson ID           210
Question Number      34
Prompt             2512
Correct Answer        7
Returned Answer       7
Is Correct            2
dtype: int64

In [ ]:
compt.to_csv("zsFTresults.csv")

**Run Experiment with model fine tuned on Lessons Prompt Data**

Test out on one prompt

In [ ]:
import os
import openai

openai.api_key = OPENAI_API_KEY

response = openai.Completion.create(
    model=tunedLessonsModel,
    prompt=qvt['Prompt'][1],
    temperature=0.5,
    max_tokens=4,
    top_p=1,
    frequency_penalty=0,
    presence_penalty=0,
    stop=["===="]
  )

In [ ]:
print(qvt['Prompt'][1],response)

2. Why do scientists call the Big Bang a theory?
a. It is probably unlikely and therefore not a fact.; b. A very well respected scientist proved it to be true.; c. Many scientists have agreed upon this explanation after repeated experiments and models have shown it; d. All possible answers to a scientific idea are called theories.

 {
  "choices": [
    {
      "finish_reason": "length",
      "index": 0,
      "logprobs": null,
      "text": " The Big Bang theory"
    }
  ],
  "created": 1663539313,
  "id": "cmpl-5rwrBVpJmcYKmhluVfs4e4mcaBW0x",
  "model": "davinci:ft-personal-2022-09-07-06-51-12",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 4,
    "prompt_tokens": 70,
    "total_tokens": 74
  }
}

This does not seem to work as expected. Therefore, I abandoned further tests on this tuned model